.logo{
    background: url('../images/logo.png') no-repeat ;
}

body {
    background-color: #e7e7e7;
}

ul.mainmenu {
    background-color: black;
    border-radius: 20px 20px 20px 20px;
    text-align: left;
}

ul.mainmenu li{

    font-family: Impact, fantasy;
    display: inline;

}

ul.mainmenu li.register a{
    float: right;
}

ul.mainmenu li a{
    color: rgb(180, 148, 73);
    text-decoration: none;
    font-variant: small-caps;
    font-style: italic;
    display: inline-block;
    font-size: 30px;
    margin: 0.1%;
    padding: 15px 15px 15px 15px;
}

ul.mainmenu li a:hover{
    color: white;
}

ul.cats{
    font-size: 30px;
    padding: 0;
    list-style: none;
    font-family: Impact, fantasy;
}

ul.cats li{
    font-size: 25px;
    font-family: Impact, fantasy;
    color: rgb(180, 148, 73);
    text-decoration: none;
    font-variant: small-caps;
    font-style: italic;
}

ul.cats li h3 a{
    color: rgb(180, 148, 73);
    text-decoration: none;
    font-variant: small-caps;
    font-style: italic;
    display: inline-block;
    font-size: 30px;

    background: black;
	margin: 0 20px 0 0;
	padding: 20px 20px 20px 15px;
	border: 1px solid black;
	border-radius: 250px;
}
ul.cats li h3 a:hover{
    color:white;
}

ul.cats li.post_page{
    font-size: 25px;
    font-family: Impact, fantasy;
    color: rgb(180, 148, 73);
    text-decoration: none;
    font-variant: small-caps;
    font-style: italic;
}

ul.cats li.post_page a{
    color: #B49449;
    text-decoration: none;
}

ul.cats li.post_page a:hover{
    color:white;
}

nav.page_numbers{
    text-align: center;
	margin: 0 0 20px 0;
}

nav.page_numbers ul{
    margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

nav.page_numbers ul li{
    font-weight: 1000;
    color:#B49449;
    background: black;
    display: inline-block;
	margin: 0 20px 0 0;
	width: 50px;
	height: 34px;
	padding: 16px 0 0 0;
	border: 1px solid black;
	border-radius: 25px;

}
nav.page_numbers ul li a{
    text-decoration: none;
    color: #B49449;
}

nav.page_numbers ul li a:hover{
    color:white;
}

nav.page_numbers ul li.page_selected{
    color: white;
}